
#startButton{
    color: white;
    background-color: #48326F;
}
#topDiv{
    color: #48326F;
    margin-bottom: 2%;
}
#highScore{
    float: left;
    margin-right: 84%;
    
}
#highScoreAnch{
    font-weight: bold;
    color: #48326F;
}
#time{
    float: right;
}
#timerAnch{
    font-weight: bold;
    color: #48326F;
}
.timerCount{
    color: #48326F;
}
#myCard{
    width: 50%;
    margin-right: 20%;
    margin-left: 20%;
    border: none;
}
.myLi{
    width: 20%;
    color: white;
    background-color: #48326F;
    margin: 10px;
}
.myAnch{
    color: white;
}
a:hover{
    text-decoration: none;
    /*color: white;*/
}

/*https://github.com/ourosalim-cmd/Code-Quiz.git*/

ol {
    list-style: none;
    display: block;
    padding: 0;
    counter-reset: my-counter;
}

ol li {
  counter-increment: my-counter;
}

ol li::before {
    color: white;
  content: counter(my-counter) ". ";
  background-color: #48326F;
}
.feedBack{
    color: gray;
    text-align: left;
}


/*
function testQ(newCardBody, newCardContent, 
                    newCardTitle, newList, newIndex)
    {
        ////
        //var myCardBody = $(".card-body");
        //var myCardContent = $(".card-text");
        //var myCardTitle = $(".card-title")
        //var startButton = $("#startButton");
        // var  newList= $("<ol>");
        // var itemAnchor = $("<a>");    
        // itemAnchor.attr("href", "#");
        ///////
        // newCardBody = myCardBody;
        // newCardContent = myCardContent;
        // newCardTittle = myCardTitle;
        // newList = myList;
        // newIndex = qIndex;
        // newCardTitle.html(questions[newIndex].title);
        myCardContent.html(questions[0].choices);
        //newCardContent = questions[newIndex].choices;
        myList = (questions[newIndex].choices);
        var myArray = myList.split(" ");
        //if(qIndex>questions.length-1){return;}
        //newList.addClass("myOl");
        console.log(newCardContent);

        var someList = myArray.split(" ");
        for( var i = 0; i < someList.length; i++)
        {
            var listItem = $("<li>");
            listItem.addClass("myLi");
            //newCardBody.append(newCardTittle);
            newCardBody.append(newCardContent);
            //newCardContent.append(newList);
            someList.append(itemAnchor);
            itemAnchor.append(listItem);
            listItem.html(newCardContent[i]);
        }
    }
    itemAnchor.on("click", function()
        {
            ///qIndex = 1;
            //for (qIndex = 1; qIndex<questions.length; qIndex++)
            //qIndex = qIndex + 1;
            //$(".card-body").html("");
            ///$(newList).replaceWith(testQ(qIndex));
           // qIndex++
            //if (qIndex === questions.length){return;}
            //testQ(qIndex);
            //myCardTitle.empty();
            //myCardContent.empty();
            //testQ(qIndex);
            //myCardTitle.empty();
            //myCardContent.empty();
            //console.log(qIndex);
*/
