#startButton{
    color: white;
    background-color: #48326F;
}
#topDiv{
    color: #48326F;
    margin-bottom: 2%;
}
#highScore{
    float: left;
    margin-right: 82%;
    
}
#highScoreAnch{
    font-weight: bold;
    color: #48326F;
}
#time{
    float: right;
}
#timerAnch{
    font-weight: bold;
    color: #48326F;
}
.timerCount{
    color: #48326F;
}
#myCard{
    width: 50%;
    margin-right: 20%;
    margin-left: 20%;
    border: none;
}
.myLi{
    width: 20%;
    color: white;
    background-color: #48326F;
    margin: 10px;
}
.myAnch{
    color: white;
}
a:hover{
    text-decoration: none;
    /*color: white;*/
}

/*https://github.com/ourosalim-cmd/Code-Quiz.git*/

ol {
    list-style: none;
    display: block;
    padding: 0;
    counter-reset: my-counter;
}

ol li {
  counter-increment: my-counter;
}

ol li::before {
    color: white;
    content: counter(my-counter) ". ";
    background-color: #48326F;
}
.feedBack{
    color: gray;
    text-align: left;
}
.myform{
    color: #48326F;
}
.myformText{
    display: inline;
    color: #48326F;
}
.mySubmit{
    color: white;
    background-color: #48326F;
    border-color: #48326F;
}
.myInput{
    margin-left: 10px;
    margin-right: 10px;
    border-color: #48326F;
}

.button1{
    margin-right: 20%;
    color: white;
    background-color: #48326F;
    border-color: #48326F;

}
.button2{
    color: white;
    background-color: #48326F;
    border-color: #48326F;
}
.textColor{
    
    color: #48326F;
}

